article .core {
	margin:12px;
}

article .core .main {
	display: flex;
}

article .core .main .label {
	width: 16%;
	height: 470px;
	margin: 0 1% 0 0 ;
	background-color: #FFFFFF;
	font-size: 14px;
}

article .core .main .label ul {
	list-style-type: none;
}

article .core .main .label ul li {
	margin: 6px 10px 7px 10px;
}

article .core .main .label ul li:hover {
	color: #C81623;
	background-color: #d9d9d9;
}

article .core .main .roll_picture {
	width: 49%;
	height: 470px;
	background-color: #ffffff;
	margin: 0 1% 0 0 ;
}

article .core .main .roll_picture img {
	width: 100%;
	height: 100%;
}

article .core .main .roll_picture div.cur {
	background-color: #000000;
}

article .core .main .small_picture {
	width: 16%;
	height: 470px;
	background-color: #FF0000;
	margin: 0 1% 0 0 ;
}

article .core .main .personal {
	width: 16%;
	height: 470px;
	background-color: #FF0000;
}

#block {
	display: flex;
	margin: -20px 0 0  226.5px;
}

#block div {
	width: 10px ;
	height: 10px ;
	background-color: #d3d3d3;
	margin-right: 15px;
	cursor: pointer;
}

#block div.cur { 
	background-color: #ffffff;
}