article .main .Nav {
	height: 80px;
}

article .main .Nav img {
	float:left;
	margin-top: 12px;
}

article .main .Nav ul {
	width: 670px;
	list-style: none;
	display: flex;
	float:right;
}

article .main .Nav ul li {
	width: 90px;
	line-height: 75px;
	margin-top: 5px;
	text-align: center;
	vertical-align: middle;
}

article .main .Nav ul li:hover {
	font-weight: bold;
	color: #0DA3E2;
	background-color: #fafafa;
	border-top: solid 5px #0DA3E2;
	margin-top: auto;
}

article .main .Notice {
	background:url(../img/Notice.png); 
	background-size:700px 100%; 
	background-repeat:no-repeat; 
	background-position-x: right; 
	margin-left: 20px;
	height: 321px ;
}

article .main .Notice div {
	padding-top: 41px;
}

article .main .Notice div a {
	font-size: 24px;
	color: #0DA3E2;
}

article .main .Notice div a:hover {
	text-decoration: underline;
}

article .main .Notice p {
	line-height: 26px;
	margin: 26px 0 26px 0 ;
	font-size: 14px;
	text-indent:2em;
	color: #838383;
}

article .main .Notice ul {
	font-size: 14px;
	margin-left: 20px;
}

article .main .Notice li {
	margin-top: 12px;
}

article .main .Notice li a:hover {
	text-decoration: underline;
	color: #fe8500;
}

article .main .function {
	background:url(../img/background.png);
	background-position: left bottom; 
	background-size: 600px 300px;
	background-repeat:no-repeat; 
	width: 100%;
	height: 300px;
	padding-top: 42px;
	display: flex;
	justify-content:space-between;
}

article .main .function div {
	width: 275px;
	height: 240px;
	border: solid 2px #eeeeee;
	background-color: #ffffff;
	text-align: center;
}

article .main .function div:hover {
	margin: -2px -2px -2px -2px ;
	border: solid 4px #0DA3E2;
}

article .main .function div img {
	height: 95px;
}

article .main .function div p {
	margin: 20px 20px 20px 20px ;
	font-size: 14px;
	color: #838383;
}

article .main .function .function_2 p {
	text-indent:1em;
}