* {
	margin: 0;
	padding: 0;
	user-select: none;
}

.main {
	width: 78%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000000;
}

hr {
	border: solid 0.0200rem #e4e4e4;
}
